* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
}

.container {
  width: 1180px;
  padding: 20px 15px 0;
  margin: 0 auto;
}

@media (max-width: 1180px) {
  .container {
    width: 100%;
  }
}